*{
    margin: 0;
    padding: 0;
}
body{
   background-image: url("C:\Users\PC\Downloads\New folder\background image.jpeg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   color: #fff;
   background-color: rgba(57, 179, 250, 0.7);
   background-blend-mode: multiply;
   font-size: 1.5em;
   font-family: 'poppins' , sans-serif;
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
#head{
    font-size: 2rem;
}
#subheading{
    font-size: 20px;
    margin-top: 10px;
}
#content{
    width: 90%;
    margin: auto;
}
form{
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
form .box{
    width: 98.5%;
    height: 2.8rem;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}
#option1 select{
     width: 98.5%;
     height: 2.7rem;
     position: relative;
     bottom: 10px;
     border: 0;
     border-radius: 5px;
}
#option2 select{
        width: 98.5%;
        height: 2.7rem;
        position: relative;
        top: 20px;
        border: 0;
        border-radius: 5px;
}
.box2{
    width: 98.5%;
    height: 2.8rem;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}
#content2{
    margin-top: 10px;
}
#content2 textarea{
    width: 98.5%;
    height: 125px;
    position: relative;
    bottom: 17px;
}
button{
    width: 98.5%;
    height: 5em;
    position: relative;
    top: 11px;
    background-color: rgba(18, 219, 78);
    color: rgba(255, 255, 255);
    margin-bottom: 10px;
    cursor: pointer;
    border-color: rgba(18, 219, 78);
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
}
input::placeholder{
    font-size: 1.1em;
    position: relative;
    left: 10px;
    width: 50%;
    font-weight: 500;
}
textarea::placeholder{
    font-size: 1.4em;
    position: relative;
    top: 8px;
    left: 5px;
    width: 70%;
}
input.larger{
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 600px) {
    form{
        width: 100px;
        margin: auto;
    }
}